<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinatoPad14.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MinatoPad14.Properties.Settings>
            <setting name="Form1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form1Client" serializeAs="String">
                <value>784, 462</value>
            </setting>
            <setting name="TextBoxBackColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="TextBoxForeColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="TextBoxFont" serializeAs="String">
                <value>ＭＳ ゴシック, 12pt</value>
            </setting>
            <setting name="txtfldwrdwrp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordWrapChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBarChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stsrpvis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tlsdk" serializeAs="String">
                <value>Top</value>
            </setting>
        </MinatoPad14.Properties.Settings>
    </userSettings>
</configuration>